/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.navbar {
    background-color: #435fb5; /* Background color for the navigation bar */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff; /* Default text color */
    text-align: center;
    padding: 14px 16px; /* Adjust padding as needed */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for text color change */
}

/* Different border styles for each navigation item */
.border-style1 {
    border: 2px solid #ff9900; /* Orange border */
}

.border-style2 {
    border: 2px dashed #7700cc; /* Blue dashed border */
}

.border-style3 {
    border: 2px dotted #66cc00; /* Green dotted border */
}

.border-style4 {
    border: 2px double #ff66b2; /* Pink double border */
}

.border-style5 {
    border: 2px groove #9933cc; /* Purple groove border */
}

/* Change text color on hover */
.navbar li a:hover {
    color: #ff9900; /* Text color on hover */
}
